/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
html {
    overflow: hidden;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    height: 700px;
    display: block;
}

h2 {
    position: absolute;
    font-size: 65px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

/* Utils */

.border {
    border: 2px dashed black;
}

.full-page {
    position: relative;
    height: 100vh;
}

/* Main */
#vans {
    background-color: red;
    color: yellow;
}

#tommy-hilfiger {
    background-color: green;
    color: yellow;
}

#converse {
    background-color: yellow;
    color: green;
}


.full-page .content {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
}

/* Scroll menù*/
.scroll-menu {
    position: fixed;
    top: 40px;
    right: 30px
}

.scroll-menu a {
    background-color: white;
    font-size: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    margin-left: 50px;
}